/*
Background color for all pages and footer and nav
*/

.eT-background {
	background-color: rgb(252,255,252)
}

/*
General text settings
*/

 * {
  font-family: 'Fira Sans', sans-serif;
}

p {
	color: rgb(0, 35, 70);
}


/*
eT button
*/

.btn-eT {
  background-color: rgb(65,110,125);
  color: rgb(200,220,200);
  border-width: 0px;
  border-radius: 6px;
  font-size: 24px;  
  padding-top: 10px; 
  padding-bottom: 10px;
}

.btn-eT:focus, .btn-eT:hover {
  background-color: rgb(85,130,145);
  color: rgb(230,250,230);
  border-width: 0px;
}

/*
Gitlab button
*/
.btn-gitlab { 
  	background-color: rgb(240, 100, 50);
  	color: rgb(200,220,200);
  	border-width: 0px;
	border-radius: 6px;
	font-size: 24px; 
	padding-top: 10px; 
	padding-bottom: 10px;
}

.btn-gitlab:focus, .btn-gitlab:hover {
  background-color: rgb(260, 120, 70);
  color: rgb(230,250,230);
  border-width: 0px;
}

/*
General formatting for headers
*/


h1 {
	color: rgb(0, 35, 70);
}


h2 {
	color: rgba(0, 35, 70, 0.8);
}

h3 {
	color: rgba(0, 35, 70, 0.6);
	font-size: 1.5rem;
}

h4 {
	color: rgb(0, 35, 70);
}
/*
Formatting for links
*/

a.headerlink {
    visibility: hidden;
}

a {
	text-decoration: none;
	color: rgb(0, 35, 70);
	font-size: 24px;
}

a:hover, a:focus, a:active{
	text-decoration: none;
	color: rgb(65,110,125);
}

li.toctree-l1 {
	font-size: large;
}

/*
Formatting of unordered lists
*/

ul {
  color: rgb(240, 100, 50);
  padding-left: 25px;
}

/*
Formatting for code blocks
*/

.highlight{
	background-color: rgba(65,110,125,0.08);	
  	border-left: 2px solid rgba(65,110,125,0.3);
	padding-top: 15px; 
	padding-bottom: 5px; 
	padding-left: 20px; 
	padding-right: 20px;
   	margin-bottom: 15px; 
	margin-top: 15px; 
  	color: rgb(0, 35, 70);
}

/*
Formatting for inline code
*/

.literal{
	background-color: rgba(65,110,125,0.12);
  	border: 0px solid rgba(65,110,125,0.12);
  	color: rgb(0, 35, 70);
   	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 2px; 
	padding-right: 2px;
}

.hr-custom {
    opacity: 0.1;
    border-top: 2px solid rgb(0,0,0);
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
}

/*

Special customisation for different blocks:
	- Sidebar
	- Navbar
	- Footer

*/

/*
Sidebar
*/

#sidebar-link a {	
	font-size: 15px;
	color: rgb(0, 35, 70);
	text-decoration: none;
}

#sidebar-link a:hover{	
	font-size: 15px;
	color: rgb(240, 100, 50);
}
#sidebar-link a:focus{	
	font-size: 15px;
	color: rgb(240, 100, 50);
}
#sidebar-link a:active{	
	font-size: 15px;
	color: rgb(240, 100, 50);
}

#sidebar-link ul {
	list-style: none;
	padding-left: 15px;
}

#sidebar-link li {
    border-left: 2px solid rgb(240,245,240); 
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.sidebarbox {
	border-right: 2px solid rgb(240,245,240);
}

.sidebar {
	padding-top: 100px;
	padding-bottom: 10px;
}
/*
Customisation class for sphinx. Not very nice
*/

.sphinx-custom {
    border-bottom: 0.5px solid rgb(190,200,190);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.note {

  	border-left: 2px solid rgb(100,215,240);
  	background-color: rgba(100,215,240,0.15);
	padding: 10px 20px 2px 20px;
	margin-left: 20px; 
	margin-right: 20px; 
   margin-bottom: 15px;

}

.warning {

  	border-left: 2px solid rgb(240,100,50);
  	background-color: rgba(240,100,50,0.15);
	padding: 10px 20px 2px 20px;
	margin-left: 20px; 
	margin-right: 20px; 
    margin-bottom: 15px;

}

p.admonition-title {
    margin: 0px 10px 5px 0px;
    font-weight: bold;
    font-size: 18px;
}

/*
Index page customisation
*/

#index-page h1{
	color: rgb(200,220,200);
    border-bottom: 2px solid rgb(200,220,200);
    text-transform: uppercase;
}

#index-page p {
	color: rgb(200,220,200);
	font-size: 24px
}

.index-main {

	padding-right: 20px; 
	padding-left: 20px;
	padding-top: 100px;
	min-height: calc(100vh - 200px);
  	display: flex;
  	align-items: center;
	
}

.index-body {

	background:transparent url('../images/background2.svg') no-repeat center center /cover;
}

/*
Footer customisation
*/

#footer-text h1 {

	color: rgb(260, 120, 70);
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    padding-top: 0px;
}

#footer-text p {

color: rgb(65,110,125);
font-size: 14px;

}

#footer-text a {

color: rgb(65,110,125);
font-size: 14px;

}

#footer-text a:hover {
    color: rgba(65,110,125,0.6);
}

.footer {
	color: rgb(55,55,55); 
	border-top: 2px solid rgb(240,245,240); 
	min-height: 120px;
	padding-bottom: 30px; 
	padding-left: 40px; 
	padding-right: 40px;
}

/*
Section to define link for navbar
*/

#nav-link a {
	color: rgb(253,253,253);
	font-size: 22px;
}
#nav-link a:hover, #link-color a:focus, #link-color a:active {
    color: rgba(210,210,210, 0.70);
}

#nav-link-download a {
	color: rgb(260, 120, 70);
	font-size: 22px;
}

#nav-link-download a:hover, #link-color-download a:focus, #link-color-download a:active {
    color: rgba(260, 120, 70, 0.7);
}

#nav-link-workshop a {
        color: rgb(255, 200, 120);
        font-size: 22px;
}

.eT-nav {
	padding-bottom: 10px; 
	padding-top: 10px; 
	padding-left: 30px; 
	padding-right: 30px;
	min-height: 80px;
	background:transparent url('../images/background_nav.svg') no-repeat center center /cover;
	border-bottom: 1px solid rgb(253,253,253);
}


/*
Formatting Sphinx internal links
*/


a.internal {

	text-decoration: underline;
	font-size: inherit;
}

a.external {

	text-decoration: underline;
	font-size: inherit;
	color: rgb(260, 120, 70);
}


.context {
    color: rgb(0, 35, 70);
    font-size: 16;
}

.highlighted {
    color: rgb(260, 120, 70);
    text-decoration: underline;
    font-size: 16;
}

#reference p{
    color: rgb(260, 120, 70);
}

#research-page div{
	padding-bottom: 5px; 
	padding-top: 5px; 
	padding-left: 5px; 
	padding-right: 5px;	
}

.research-main {

	padding-right: 20px; 
	padding-left: 20px;
	padding-top: 100px;
	min-height: calc(100vh - 150px);
  	display: flex;
  	align-items: center;
	
}

#research-page p{
	padding-top: 3px;
	padding-bottom: 3px;
}

#research-page a{
	font-size: 16px;
	color: rgb(240, 100, 50);
    text-decoration: underline;
}

.body-main {
	padding-top: 100px;
	padding-bottom: 10px;
	padding-left: 40px;
} 

.search-field {
	background-color: rgb(230,230,230); 
	font-size: 20px; 
	border: 3px solid rgba(190,210,190);
}
